{% extends "base.html.twig" %}

{% block body %}
<div class="home">
    <h1 class="d-flex justify-content-center text-center font-weight-bold text-white home"> BIENVENU DANS LA GESTION D'ALLOCATION DES CHAMBRES DE L'UNIVERSITE </h1>
</div>
{% endblock %}