@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-image: url("/image/image4.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
/* formulaire des chambres */
.form{
    width: 50%;
}
/* liste des chambre */
.titre{
    font-size: 20px;
}
.tChambre{
    margin-left: 150px;
}
.scrollZone{
    overflow: scroll;
    height: 550px;
    /* width: 1000px; */
}
.home{
    font-size: 50px;
   margin-top: 150px;
   /* font-family: 'Modak', cursive; */
}
.input{
    width: 90%;
    /* border: 3px solid #17a2b8; */
}
